<nav-component> </nav-component>


<div class="cart-container container">


    <h1 class='shopping_bag_text'>SHOPPING BAG</h1>

    <hr style="border-top: 1px solid black">

    <h4 class = 'items__count_text'>ITEMS ({{quantitySum}})</h4>

    <div class="row">
        <!-- <div class="col-md-6">Name</div>
      <div class="col-md-6">Total</div> -->

        <div class="col-md-6">

            <div class='product-in-cart' ng-repeat="product in cart track by $index">
                <div class="product-container">
                    <div class="product-image">

                        <img class='cart-image' ng-src="{{product.img1}}" alt="">

                    </div>
                    <div class="product-details">

                        <h5> Item: {{product.name}}</h5>

                        <select ng-change='changeQuantity(product,default)' ng-click="logger($index)" ng-model="default" ng-init="default = product.quantity || options[0].value" ng-options="option for option in options">
                        </select>
                        <!-- <select ng-model="default"
        ng-init="default = product.quantity || options[0].value" ng-change='changeQuantity(product)' ng-model='product.quantity'>
                              <option value = '' selected> {{product.quantity}} </option>
                              <option value="5">5</option>
                              <option value="5">4</option>
                              <option value="5">3</option>
                              <option value="5">2</option>
                              <option value="5">1</option>
                              <option value="Delete">Delete</option>
                            </select> -->
                        <h5>Price: {{product.price * default | currency}}</h5>
                        <button class="cart_button" ng-click='removeFromCart(product)'>Remove Item</button>
                        <!--WILL USE DELETE OPTION INSTEAD -->

                    </div>
                </div>



            </div>
        </div>


        <div class='total-container col-md-6'>
            <h2 class='order_summary_text'>Order Summary</h2>
            <div class='cart-titles-container'>

              <h4 style="padding:1em 0em 0em 0em" class='cart-titles'>Subtotal: {{getSubTotal() | currency}}</h4>
              <h4 style="padding:1em 0em 1em 0em"class= ' cart-titles'>Tax: {{ getTax() | currency}}</h4>
              <h4 class = 'cart-titles'>Shipping: $4.99</h4>
              <hr class='hr_cart'>
              <h3 class = 'cart-titles'>Estimated Total: {{getActualTotal() | currency}}</h3>

            </div>
            <button class = 'place-order-button center-block'>Place Your Order</button>
        </div>

    </div>




</div>

<hr style="border-top: 3px solid #dedede">

</div>




<footer-component></footer-component>
