<div class='contact_footer_center'>
    <ul class='footer_help_menu'>
        <li>CONTACT US</li>
        <li>
            <i class="fa fa-twitter" aria-hidden="true"></i>@dcrew_help</li>
        <li>
            <i class="fa fa-phone" aria-hidden="true"></i> 1 800 562 0256p
        </li>
        <li>
            <i class="fa fa-envelope" aria-hidden="true"></i> help@dcrew.com
        </li>
    </ul>


</div>


<footer id=''>
    <div class="container-fluid">






        <div class="row">
            <div class="col-md-3 footer_center">
                <div class="col-md-8">

                    <h5>Let Us help You</h5>

                    <li>Order Status</li>
                    <li>Shipping & Handling</li>
                    <li>Returns & Exchanges</li>
                    <li>International Orders</li>

                </div>

            </div>
            <div class="col-md-3 footer_center ">
                <div class="col-md-8">
                    <h5>Our Stores</h5>
                    <li>Store Locator</li>
                    <h5>THE D.CREW CREDIT CARD</h5>
                    <li>Apply Today & Get %15 Off</li>
                    <li>Manage Your Card</li>


                </div>
            </div>

            <div class="col-md-3 footer_center ">
                <div class="col-md-8">
                    <h5>Our Brands</h5>
                    <li>ERGOJON</li>
                    <li>Watson Law</li>
                    <li>Aqua Crew</li>
                    <li>Dota</li>

                </div>
            </div>

            <div class="col-md-3 footer_center ">
                <div class="col-md-8">
                    <h5>About D.Crew</h5>
                    <li>Our Story</li>
                    <li>Careers</li>
                    <li>Social Responsibility</li>
                    <li>Investor Relations</li>

                </div>
            </div>

        </div>

</footer>
</div>
