

<hr style="margin-bottom:10px" id='recently_viewed_hr_top'>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="recently_viewed_text">Recently Viewed</h4>
        </div>
    </div>
</div>


<section class='recently-viewed container'>
    <div class="row">

        <div class='col-md-2' ng-repeat='image in $ctrl.recentlyViewed track by image.id'>
            <!-- {{$ctrl.recentlyViewed}} -->
            <img class="img-responsive" ui-sref="product({id:image.id})" ng-src="{{image.img1}}">

        </div>

        <!-- <div class="col-md-2"> -->
        <!-- </div> -->

    </div>
</section>

<hr id='recently_viewed_hr_bottom'>
