<hr style="margin-bottom:10px" id='recently_viewed_hr_top'>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="recently_viewed_text">Recently Viewed</h4>
        </div>
    </div>
</div>


<section class='recently-viewed container'>
    <div class="row">

        <div class='col-md-2' ng-repeat='image in $ctrl.recentlyViewed track by image.id'>
            <!-- {{$ctrl.recentlyViewed}} -->
            <img class="img-responsive" ui-sref="product({id:image.id})" ng-src="{{image.img1}}">

        </div>

        <!-- <div class="col-md-2"> -->
        <!-- </div> -->

    </div>
</section>

<hr id='recently_viewed_hr_bottom'>

<!-- <div class='contact_footer_center'>
    <ul class='footer_help_menu'>
        <li>CONTACT US</li>
        <li>
          <i class="fa fa-twitter" aria-hidden="true"></i>@dcrew_help</li>
        <li>
          <i class="fa fa-phone" aria-hidden="true"></i> 1 800 562 0256p
        </li>
        <li>
          <i class="fa fa-envelope" aria-hidden="true"></i>
            help@dcrew.com
        </li>
    </ul>


</div> -->
