.cart-image{
  height:20rem;
}


.product-image, .product-details{
  display: inline-block;
}


.product-container{
  padding: 1em;
}

.cart_button{
  background-color: black;
    color: white;
    /*padding: 1em;*/
}

.place-order-button{
  background-color: green;
  color: white;
  
}

.total-container{
  float:right;
  border: 1px solid black;
  float: right;
}

.cart-titles{
  text-align: right;
}

.place-order-button{
  text-align: center;
}


.hr_cart{
  border-top: 3px double #8c8b8b;
}


.cart-titles-container{
  margin-top: 4em;
}
