.cart-image{
  height:20rem;
}


.items__count_text{
  font-family: 'Lato', sans-serif;

}


.product-image, .product-details{
  display: inline-block;
}


.product-container{
  padding: 1em;
}

.cart_button{
  background-color: black;
    color: white;
    /*padding: 1em;*/
}

.place-order-button{
  background-color: #FF884E;
  color: white;
  margin-top: 2em;

}

.total-container{
  float:right;
  /*border: 1px solid black;*/
  float: right;
  background-color: #E6E6E6;
  font-family: 'Lato', sans-serif;

}

.shopping_bag_text{
  font-family: 'Lato', sans-serif;

}

.cart-titles{
  text-align: right;
}

.place-order-button{
  text-align: center;
}


.hr_cart{
  border-top: 3px double #8c8b8b;
}


.cart-titles-container{
  margin-top: 2em;
}


.order_summary_text{
  font-family: 'Lato', sans-serif;
  text-align: center;
}
