footer{
  background-color: #F1F1F1;
  color: black;
  padding: 25px 0 20px 70px;
  /*position: absolute;
  bottom: 0*/

}

footer li{
  /*float: left;*/
  /*padding 0 10px 0 10px;*/
  list-style: none;
}

footer a {
  color:white;
}

.footer_padding {
  padding: 0 20px;
}


.img-responsive{
    border: 1px solid #4b4b4c;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}



.recently-viewed{
  /*border: 3px solid #d6cfcf;*/
  margin-bottom: 1em;
  ;
}

#recently_viewed_hr_top{
   border: 1px solid #dedede !important;
   margin-bottom: 10px;
}

#recently_viewed_hr_bottom{
  border: 1px solid #dedede !important;
}

.recently_viewed_text{
  /*padding-top: 1em;*/
 font-family: 'Julius Sans One', sans-serif;
}

.footer_help_menu li{
  display: inline-block;;
  list-style-type: none;
  text-align: center;
  margin-left: 2em;
  margin-right: 2em;
}



.contact_footer_center{
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.footer_center{
  display: flex;
  justify-content: space-around;
}
