.image-wrapper{
  min-height: 100vh;
  /*helps with transition load of slick*/
  /*width: 25px;*/
}
.slick-slide{
width: 10vw;
}
.slider{
  width: 25vw;
}

.slider-nav{
  padding-top: 1em;
}


/*.slider { display: none; }
.slider.slick-initialized { display: block; }
*/
.productDescription_head{
  margin-top: 25px;
  text-decoration: underline;
  /*font-style: italic;*/
}

.productDescription_text{
  font-style: italic;
}

.productDescription_color{
  margin-top: 20px;
}

.add-to-bag{
  background-color: black;
  color: white;
  padding: 1em;
  margin-top: 4em;
}


.buttons{
  margin-top: 2em;
}

.quantity {
  display: flex;
  /*justify-content: center;*/

  margin-bottom: 10px;
}

.qty {
  width: 30px;
  margin: 0px 5px;
  text-align: center;
}
